html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}


body{
    background: linear-gradient(140deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(8,7,103,1) 0%, rgba(0,212,255,1) 0%,
     rgba(0,233,229,1) 20%, rgba(60,254,8,1) 80%, rgba(62,255,0,1) 100%);
    background-color: #fefefe; 
    color: #333;
    
    margin: 32px auto;
}
.site-header {
    background: #fff;
    box-sizing: border-box;
    left: 0;
    padding: 16px;
    position: fixed;
    top:0;
    width: 100%;
}
.navigation {
    

}

/* !!! margin bez przecinka !!!*/
.navigation__item {
    display: block;
    margin: 0 16px;
    
}

.navigation__link {
    color: rgb(4, 39, 29);
    text-decoration: none;
}

.navigation__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- klasa sie nie wykonuje bo media queries sa niżej i ja nadpisuje! -----*/
/* .navigation__list--visible {
    display: flex;
} */


.main {
    display: block;
    padding-top: 50px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
} 

.section__paragraph {
    color: black;
    width: 700px;
    
}

.section__title {
    color: #1460aa;
}

.section__title--red {
    color: darkred;
}


.section__title--description {
    color: darkblue;
    font-size: 20px;
}

.skills__giant {
    background-color: rgb(252, 142, 8);

}  

.skills__giant--description {
    color: black;
}

.skills__giant--title {
    color: rgb(58, 4, 4);
    font-size: 26px;
}

.skills__tester {
    background-color: darkorange;
}

.skills__tester--description {
    color: black;
}

.skills__tester--title {
    color: rgb(58, 4, 4);
    font-size: 26px;
}

.skills__frontend {
    background-color: rgb(243, 140, 14);
}

.skills__frontend--description {
    color: black;
}

.skills__frontend--title {
    color: rgb(58, 4, 4);
    font-size: 26px;
}


.diaryHeader {
    color: #6c1285;
}

.section__link {
    color: rgb(4, 39, 29);
}

/* --- do wwydruku --- 
@media print {
    body {
        background: yellow;
    }
}

*/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}
/*
@media screen(max-width: 640px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .section__link {
        color: hotpink;
    }
}
*/
/*
@media screen(min-width: 640px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .section__link {
        color: hotpink;
    }
}
*/

/* --- zapis z not odwraca sytuację -----
@media not screen(min-width: 640px) and (max-width: 1000px)
*/
/*
@media screen (min-width: 640px) and (max-width: 1000px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .section__link {
        color: hotpink;
    }
}
*/
/* ---breakpoint --- */

@media (min-width: 1000px) {
    .main {
        max-width: 900px;
    }
    
}

@media (max-width: 1000px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .section__link {
        color: hotpink;
    }
}

@media (max-width: 641px) {

    .navigation__ham {
        position: absolute;
        right: 16px;
        top: 16px;
    }
    .navigation__item {
        margin: 16px;
       
    }
    .navigation__list {
        flex-direction: column;
        display: none;
    }
    .navigation__list--visible {
        display: flex;
    } 
    
    
    .site-header {
        min-height: 48px;
    }

}

@media(min-width: 640px) {
    .navigation__ham {
        display: none;
    }
}