body{
    background-color: #fefefe;
    color: #333;
    max-width: 700px;
    margin: 32px auto;
}
.navigation {
    bakcground: #fff;
    box-sizing: border-box;
    left: 0;
    padding: 16p;
    position: fixed;
    top:0;
    width: 100%;
}
.navigation__link {
    color: rgb(4, 39, 29);
}
.main {
    display: block;
    padding-top: 50px;
   
} 
.section__title {
    color: #1460aa;
}
.section__title--description {
    color: darkblue;
    font-size: 20px;
}
.section__paragraph {
    color: black;
    width: 700px;
    
}
.skills__giant {
    background-color: rgb(252, 142, 8);

}  
.skills__giant--title {
    color: rgb(58, 4, 4);
    font-size: 26px;
}
.skills__giant--description {
    color: black;
}
.skills__tester {
    background-color: darkorange;
}
.skills__tester--title {
    color: rgb(58, 4, 4);
    font-size: 26px;
}
.skills__tester--description {
    color: black;
}
.skills__frontend {
    background-color: rgb(243, 140, 14);
}
.skills__frontend--title {
    color: rgb(58, 4, 4);
    font-size: 26px;
}
.skills__frontend--description {
    color: black;
}



    

.diaryHeader {
    color: #6c1285;
}

.section__link {
    color: rgb(4, 39, 29);
}
